{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions and 'jinja2.ext.i18n' not in JINJA_EXTENSIONS %}
  {% macro _(msg) %}
    {{ msg % kwargs }}
  {% endmacro %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page in hidden_pages %}
    <meta name="robots" content="noindex, nofollow" />
  {% else %}
    <meta name="robots" content="{{ ROBOTS }}" />
  {% endif %}

  {% if USE_LESS %}
    <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js" type="text/javascript"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/fontawesome.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/brands.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/solid.css">

  {% if CUSTOM_CSS %}
    <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
  {% endif %}

  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
  {% endif %}

  {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
  {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">

  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Microsoft EDGE -->
    <meta name="msapplication-TileColor" content="{{ BROWSER_COLOR }}">
  {% endif %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partial/og.html" %}
  {% endblock %}

  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>

</head>
<body>
  <aside>
    <div>
      <a href="{{ SITEURL }}">
        {% if SITELOGO %}
        <img src="{{ SITELOGO }}" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% else %}
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/qiangge.jpg" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% endif %}
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>

      {% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}

      {% if pages or LINKS %}
      <nav>
        <ul class="list">
          <li>
            <a href="{{ SITEURL }}/pages/about.html">关于我</a>
          </li>
        </ul>
        <ul class="social">
          <li>
            <a data-title="www.zhihu.com/people/shenzhongqiang" href="https://www.zhihu.com/people/shenzhongqiang" target="_blank">
              <svg class="icon icon-zhihu" viewBox="0 0 120 120" width="100%" height="100%">
                <path d="{{ SVG_ZHIHU }}"></path>
              </svg>
            </a>
          </li>
          <li>
            <a data-title="个人微信" href="{{ SITEURL }}/pages/wechat.html" target="_blank">
              <svg class="icon icon-wechat" viewBox="0 0 27 27" width="100%" height="100%">
                <path d="{{ SVG_WECHAT }}"></path>
              </svg>
            </a>
          </li>
          <li>
            <a data-title="github.com/shenzhongqiang" href="https://github.com/shenzhongqiang" target="_blank">
              <svg class="icon icon-github" viewBox="0 0 1024 1024" width="100%" height="100%">
                <path d="{{ SVG_GITHUB }}"></path>
              </svg>
            </a>
          </li>
          <li>
            <a data-title="linkedin.com/in/shenzhongqiang" href="http://linkedin.com/in/shenzhongqiang" target="_blank">
              <svg class="icon icon-linkedin" viewBox="0 0 600 600" width="100%" height="100%">
                <path d="{{ SVG_LINKEDIN }}"></path>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}

    </div>


  </aside>
  <main>
    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">{{ _('Home') }}</a>

      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}

      {% if FEED_ALL_ATOM %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">{{ _('Atom') }}</a>
      {% endif %}

      {% if FEED_ALL_RSS %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">{{ _('RSS') }}</a>
      {% endif %}
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      {% include "partial/copyright.html" %}
    </footer>
    <script type="text/javascript">
      var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
      document.write(unescape("%3Cspan id='cnzz_stat_icon_1276445513'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D1276445513%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </main>

  {% include "partial/jsonld.html" %}

  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
  </script>
</body>
</html>
